.product-detail {
  width: 467px;
  height: 562px;
  background-color: orange;
  color: white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 54px;
  margin: 100px auto;
}

.product-detail h1 {
  font-size: 28px;
  margin: 24px 0 12px 0;
  text-decoration: underline;
}

.product-detail h3 {
  font-size: 22px;
  margin: 16px 0 24px 0;
}

.product-detail span {
  font-size: 18px;
  margin-bottom: 49px;
}

.product-detail p {
  font-size: 14px;
  text-align: justify;
  padding: 5px;
  max-height: 150px;
  overflow-y: auto;
}